page-tab 
{
    ion-header 
    {
        height: 16%;
        background: #64A095;
        .tab_title 
        {
            .title
            {
                width:80%;
            }
            .set, .taxi, .refresh
            {
                background-color: #64A095;
            }
            .set
            {
                width: 25%;
                margin-top: 5%;
                margin-left: 5%;
            }
            .taxi
            {
                width: 40%;
                margin-top: -5%;
                margin-right: 5%;
            }
            .refresh
            {
                width: 25%;
                margin-top: 5%;
                margin-right: 5%;
            }
        }
        .tabs 
        {
            margin-top: 10px;

            ion-col 
            {
                padding: 0 3px!important;
            }
            img 
            {
                display: block;
                width: 100%;
            }
            span 
            {
                color: #E2EEEE;
                font-family: "KopubB";
                font-size: 130%;
            }
        }
    }
    .showLang
    {
        z-index: 200;
        position: fixed;
        top : 50%;
        left : 50%;
        transform: translate(-50%,-50%);
        width: 70%;
        height: 40%;
        background-color: white;
        border-radius: 25px;
        border: 3px solid #64A095;
        .lang
        {
            font-size: 2rem;
            font-weight: bold;
            padding-top: 3%;
        }
        .ready
        {
            height: 80%;
            width: 80%;
            transform: translate(2%,15%);
        }
        .confirm
        {
            text-align: center;
            z-index: 200;
            position: fixed;
            width: 50%;
            bottom:-1%;
            background-color: #64A095;
            border-radius: 0 0 0 20px ;
            color: white;
            font-size: 2rem;
            padding: 3.5%;
        }
        .confirm:hover
        {
            background-color: #BBD8DC ; 
        }
        .confirm2
        {
            text-align: center;
            z-index: 200;
            position: fixed;
            width: 50%;
            bottom:-1%;
            right: -0.2%;
            background-color: #64A095;
            border-radius: 0 0 20px 0 ;
            color: white;
            font-size: 2rem;
            padding: 3.5%;
        }
        .confirm2:hover
        {
            background-color: #BBD8DC ; 
        }
    }

    .showtaxi
    {
        z-index: 200;
        position: fixed;

        top : 30%;
        left : 15%;
        width: 70%;
        height: 40%;
        background-color: white;
        border-radius: 25px;
        border: 4px solid #64A095;

        ion-row
        {
            font-size: 130%;
            padding-top: 6%;
            padding-bottom: 6%;
        }

        ion-row:hover
        {
            opacity: .3;
        }

        ion-row:nth-child(1)
        {
            border-radius: 20px 20px 0 0;
            background-color: #E2EEEE;
        }
        ion-row:nth-child(3)
        {
            background-color: #E2EEEE;
        }
        ion-row:nth-child(5)
        {
            font-size: 120%;
            color: #64A095;
            transform: translate(0%,-25%);
        }
    }

    .showSetting
    {
        z-index: 200;
        position: fixed;
        top : 50%;
        left : 50%;
        transform: translate(-50%,-50%);
        width: 70%;
        height: 40%;
        background-color: white;
        border-radius: 25px;
        border: 4px solid #64A095;


        .left, .right
        {            
            .box
            {
                width:15%;
                transform: translate(-20%,0%);
            }
        }
        .left
        {
            transform: translate(15%,0%);
        }
        .right
        {
            transform: translate(0%,0%);
        }

        .setting
        {
            font-size: 15px;
            font-weight: bold;
            padding-top: 15%;
            padding-bottom: 3%;
        }

        .settingSub
        {
            font-size: 10px;
            color: #64A095;
            padding-bottom: 15%;
        }
        .confirm
        {
            text-align: center;
            z-index: 200;
            position: fixed;
            width: 50%;
            bottom:-1%;
            background-color: #64A095;
            border-radius: 0 0 0 20px ;
            color: white;
            font-size: 2rem;
            padding: 3.5%;
        }
        .confirm:hover
        {
            background-color: #BBD8DC ; 
        }
        .confirm2
        {
            text-align: center;
            z-index: 200;
            position: fixed;
            width: 50%;
            bottom:-1%;
            right: -0.2%;
            background-color: #64A095;
            border-radius: 0 0 20px 0 ;
            color: white;
            font-size: 2rem;
            padding: 3.5%;
        }
        .confirm2:hover
        {
            background-color: #BBD8DC ; 
        }
    }
}
