page-bus-routes 
{
    .header 
    {
        min-height: 20%;
        max-height: 20%;
        overflow: auto;

        .set
        {
            ion-row
            {
                transform: translate(0%,-10%);
            }
        }
    }
    .side_bar
    {
        float: left;
        transform: translate(0%,-100%);
        overflow-x: hidden;
        overflow-y: scroll;
        top: -80%;
        height: 80%;
        text-align: left;
        background-color: #E2EEEE ;

        .active_bus_1, .active_bus_2, .active_bus_3, .stop_bus_1, .stop_bus_2, .stop_bus_3
        {
            position: absolute;
            height: auto;
        }
        .stop_bus_1
        {
            width: 70%;
            transform: translate(-20%, -100%);
        }
        .stop_bus_2
        {
            width: 30%;
            transform: translate(240%, -100%);
        }
        .stop_bus_3
        {
            width: 13%;
            transform: translate(670%, -100%);
        }
        .active_bus_1
        {
            width: 70%;
            transform: translate(-20%, -50%);
        }
        .active_bus_2
        {
            width: 30%;
            transform: translate(240%, -50%);
        }
        .active_bus_3
        {
            width: 13%;
            transform: translate(670%, -50%);
        }
        
        ul
        {
            list-style-type: none;
            height: 30%;
            padding: 0;
        }
        li
        {   
            height: 30%;

            img
            {
                width: 25px;
                height: 25px;
                margin-left : 5px;
                margin-right : 5px;
            }

            div
            {
                margin : 5px;
                color: #519689;
                font-weight: bold;
            }
        }
        li:hover
        {
            background-color: #BBD8DC;
        }
    }

    .currentPos
    {
        position: absolute;
        left: 91%;
        bottom: 73%;
        z-index: 200;

        :active
        {
            opacity: .3;
        }
    }

    #map 
    {
      position: relative;
      width: 100%;
      height: 80%;
    }

    .busStop{
        z-index: 100;
        position: fixed;
        top : 30%;
        left : 50%;
        transform: translate(-50%,0);
        width: 80%;
        height: 38.2%;
        background-color: white;
        border-radius: 3px;
        border: 4px solid white;
        .close{
             position: fixed;
             z-index: 101;
             right: 1%;
             width: 10%;
        }
    }

    ion-col
    {
        .over
        {
            color : #605F91;
            font-family: "kopubM";
            font-size: 0.8rem;
        }
        .big
        {
             transform: translate(70%,15%);
             width: 80%;
        }
        .busText
        {
            background-color: #EDEDED;
            border-radius: 15px;
            border: 5px solid #EDEDED ;
            text-align: center;
            text-overflow:ellipsis; overflow:hidden; white-space:nowrap;
            font-family: "kopubM";
        }
        .etc
        {
            ion-col
            {
                padding: 0;
                .small
                {
                    width: 20%;
                }
                div
                {
                    font-family: "kopubB";
                }
            }
            transform: translate(0,32%);
            font-size: 1.4rem;
        }
    }
}
